################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/USTaxation.Api/v16
/.vs
/bin/Debug/netcoreapp2.1
/obj/Debug/netcoreapp2.1
